.wrapper
  = render 'messages/side_bar'
  .side__bar
    .side__bar__header
      .side__bar__header__box
        %p.side__bar__header__box__name
          = current_user.name
        %ul.side__bar__header__box__icon
          %li.side__bar__header__box__icon__edit
            = link_to new_group_path, class: "menu" do 
              = icon('fas', 'edit')
          %li.side__bar__header__box__icon__cog
            = link_to edit_user_path(current_user.id), class: "menu" do
              = icon('fas', 'cog')

    .side__bar__groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
        %p.side__bar__groups__name
          = group.name
        %p.side__bar__groups__text
          = group.show_last_message

  .chat__main
    .chat__main__group
      .chat__main__group__leftbox
        %h.chat__main__group__leftbox__name  
          = @group.name
        %ul.chat__main__group__leftbox__member
          member:
          %li.chat__main__group__leftbox__member__list
            = group_user.user.name
      = link_to "#", class: "btn" do
        .chat__main__group__edit-btn
          Edit  

    
    .chat__main__message
      = render @messages
    .chat__main__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


